<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    <h1>Meet Our Team<br>(About Us)</h1>

    <h2 class="h2">DISCOVER , CREATE AND LEARN</h2>
    <div class="main">
        <img src="https://img.freepik.com/free-vector/working-characters-flat-design-web-banner_1308-127467.jpg?w=900&t=st=1702220533~exp=1702221133~hmac=2ed727cf344528f83ce969b792724feebdc4418d24a8736405aeac07548cd5cb"
            class="logo">

        <h4>Through interactive Quizzes at School, Work and Home !!! We are Rishabh Kumar and Jyotika
            Uppal, a team of 2 has made a minor project on a Quiz Website named <b><span class="AbN">THINK TANK TRIVIA</span></b> with
            the use of programming languages- Both Front and Back End as to create the website more responsive. Our Website is designed in such a way to help
            you boost your Knowledge with a variety of Multiple Choice Questions (incuding fields like general Knowledge, music, geography, Mythology, English
            etc.) You can select how many questions you want to attend (from 5 to 50) and also the levels (include Easy, Medium and Hard) of solving that Quiz.<br>
            <ul>
                <li>Email: saty665566@gmail.com, uppal.jyotika123@gmail.com</li>
                <li>Phone no: 573535</li>
            </ul>

            <a href="/" class="aboutbtn">Back to home</a>

        </h4><br>
    </div>

</body>

</html>